In [1]:
# pip install xlrd

In [3]:
import pandas as pd
import os

In [4]:
path_to_result =  os.path.join(os.getcwd(),"college_data","internal_marks.xlsx")

In [5]:
path_to_result

'C:\\Users\\Roshan KC\\Downloads\\6months_datascience_challange\\college_data\\internal_marks.xlsx'

In [6]:
marks = pd.read_excel(path_to_result)

In [8]:
marks.head()

,Lumbini City College,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"Drivertole, Tilottama -4, Rupandehi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mid-term Examination_2080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Student's Attendance Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Program : B.Sc.CSIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year: Third Year/Fifth Semester (2077 Batch),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN